/vendor
/node_modules
/.idea
/.vscode
/.phpunit.cache
/.phpunit.result.cache
/build
/coverage
/playwright-report
/test-results
composer.lock
package-lock.json
pnpm-lock.yaml
yarn.lock
.DS_Store
Thumbs.db
.env
.env.testing